.evolution-row{
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-bottom:30px;
    font-size: 30px;
    color:#868686;
    min-height: 500px;
}

    .evolution-row > div{
        flex:1;
    }