.card{
    background-repeat: no-repeat;
    background-position: right 10px bottom 10px;
    color:#fff;
    border-radius: 30px;
    padding: 18px;
    cursor: pointer;
}

    .pokemon-name{
        margin:0;
        font-size: 23px;
        font-weight: bold;
    }

    .type-list{
        list-style-type: none;
        padding: 0;
        overflow: auto;
    }

        .type-list li{
            background-color:rgba(255,255,255,0.33);
            border-radius: 30px;
            text-align: center;
            margin-top:8px;
            padding:3px 18px;
            clear: left;
            float: left;
            font-size:14px;
        }

        .type-list li:first-child{
            margin-top: 0;
        }