.card{
    color:#fff;
    border-radius: 30px;
    padding: 18px 11px;
    cursor: pointer;
    position:relative;
}

    .card a{
        text-decoration: none;
        color:inherit;
    }

    .pokemon-name{
        margin:0;
        font-size: 23px;
        font-weight: bold;
    }

@media only screen and (max-device-width: 768px) {
    .card img{
        max-width: 75%;
        transform: translate(2px, 9px);
    }
}