.card{
    color:#fff;
    border-radius: 30px;
    padding: 18px;
    cursor: pointer;
    position:relative;
}

    .card a{
        text-decoration: none;
        color:inherit;
    }

    .pokemon-name{
        margin:0;
        font-size: 23px;
        font-weight: bold;
    }

.card img{
    max-width: 75%;
    transform: translate(2px, 7px);
}