.type-list{
    list-style-type: none;
    padding: 0;
    overflow: auto;
    position: relative;
    z-index: 2;
}

    .type-list li{
        background-color:rgba(255,255,255,0.33);
        border-radius: 30px;
        text-align: center;
        padding:3px 18px;
        font-size:14px;
        float: left;
    }

    .vertical{
        clear: left;
        margin-top:8px;
    }

    .type-list li:first-child{
        margin-top: 0;
        margin-right:7px;
    }

@media only screen and (max-width: 768px) {
    .type-list li{
        font-size: 20px;
        padding: 5px 25px;
    }
}