@font-face {
  font-family: 'circular-std-medium-500';
  src: url('fonts/circular-std-medium-500.ttf');
}

body{ /*! Temporary to make measuring against the light background of certain components easier */
  background-color: #000;
}

.App {
    margin:0 auto;
    width:100%;
    max-width: 800px;
    font-family: 'circular-std-medium-500';
    color:#303943;
    background-image:url('~/public/images/icons/pokeball.png');
    background-position: top -55px right -59px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 0 18px;
}

.App a{
  color:#303943;
  text-decoration: none;
}

.App h1 {
  font-size:30px;
}