@font-face {
  font-family: 'circular-std-medium-500';
  src: url('fonts/circular-std-medium-500.eot');
  src: url('fonts/circular-std-medium-500.eot?#iefix') format('embedded-opentype'),
       url('fonts/circular-std-medium-500.woff2') format('woff2'),
       url('fonts/circular-std-medium-500.woff') format('woff'),
       url('fonts/circular-std-medium-500.ttf')  format('truetype'),
       url('fonts/circular-std-medium-500.svg#Circular Std Medium') format('svg');
}

html,
body{
  margin:0;
  padding:0;
}

.App {
    margin:0 auto;
    width:100%;
    max-width: 800px;
    font-family: 'circular-std-medium-500';
    color:#303943;
    box-sizing: border-box;
    position:relative;
    overflow: hidden;
}

  .App::before {
    position:absolute;
    content:' ';
    background-image:url('~/public/images/icons/pokeball-grey.png');
    top: -55px;
    right: -55px;
    width: 250px;
    height: 250px;
    opacity: .2;
  }

img{
  max-width: 100%;
}

a{
  color:#303943;
  text-decoration: none;
}

.App h1 {
  font-size:30px;
  padding: 0 12px;
}